.topbar {
    background-color: mediumpurple;
    height: 7vh;
    border: 2px silver solid;


}
h1 {
    position: absolute;
    top : 15px;
    left: 15px;
    margin: 0;
    color: white;
    text-shadow: 0 0 5px #00ff2a, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff;
    }
}