
.main-container {

}

#left-button {
    margin-left: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    padding: 5px;
}

p {
    margin: 0;
    padding: 5px;
}

.main-container-items {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    padding: 15px;
}

.hidden {
    display: none;
}
.show {
    display: flex;
}



.message-container {
    background-color: white;
    height: 300px;
    width: 300px;
    align-items: center;
    text-align: center;
}


.error {
    font-size: 15px;
    color: red;
    text-align: center;
    transform: translateX(-50%);
    font-weight: bold;
}

.loading {
    font-size: 15px;
    color: green;
    text-align: center;
    transform: translateX(-50%);
    font-weight: bold;
}