
.main-container {

}

.main-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : 2px dotted lightblue;
    height: 500px;
    width: 100%;

}

.buttons {

}

.message-container {

    height: 300px;
    align-items: center;
    text-align: center;
}


.error {
    color: red;
    text-align: center;
    transform: translateX(-50%);
    font-weight: bold;
}

.loading {
    color: green;
    text-align: center;
    transform: translateX(-50%);
    font-weight: bold;
}